/* Top Navigation */
nav.navbar-top{
    border: 0;
    margin-bottom: 0;
    ul.top-nav-menu,
    ul.footer-nav-menu {
        > li.menu-item {
            > a {
              line-height: 40px;
              text-transform: uppercase;
              &:hover {
                  background-color: $brand-danger;
                  color: white;
              }
            }
            &.icon-home {
                >a{
                  line-height: 22px;
                  padding-top: 11px;
                  padding-bottom: 10px;
                  span.glyphicon.glyphicon-home {
                    font-size: 42px;
                  }
                }
            }
        }

    }
}

nav.nav-primary {
    margin-top: 82px;
    margin-bottom: 0;
    ul.nav {
        >li.menu-item {
            >a {
              font-size: 26px;
              text-transform: lowercase;
              &:hover {
                  background: $brand-danger;
                  color: white;
                  text-decoration: none;
              }
            }
        }
    }
}
//
//ul.navbar-nav.nav {
//    margin: 0;
//}


@media screen and (min-width: $screen-lg){
    nav.navbar-top{
      ul.top-nav-menu,
      ul.footer-nav-menu{
        > li.menu-item {
          > a {
              padding-left: 1.5em;
              padding-right: 1.5em;
          }
          &.icon-home {
            >a{
              line-height: 22px;
              padding-top: 11px;
              padding-bottom: 10px;
              span.glyphicon.glyphicon-home {
                font-size: 42px;
              }
            }
          }
        }

      }
    }
}

@media screen and (max-width: $screen-xs-max) {
    nav.nav-primary {
        width: 100%;
        float: left;
        margin-top: 0;
      ul#menu-main-nav {
          width: 100%;
          li {
              float: left;
              a {
                font-size: 18px;
              }
          }
      }
    }
}

