@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700');

body {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 400;
    p {
      font-family: "Gotham SSm A", "Gotham SSm B";
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $brand-primary;
    font-family: "Gotham A", "Gotham B";
    font-style: normal;
    font-weight: 400;
    > a {
        color: $brand-primary;
        &:hover {
            color: $brand-primary;
        }
    }
}


h1 {
  font-size: 40px;
}

body.home{
  h1 {
    font-size: 70px;
  }
}


.entry-date {
    font-size: $text-xs;
    font-weight: bold;
    text-transform: uppercase;
}

.more-link {
    color: $brand-danger;
    font-size: $text-xs;
    font-weight: bold;
    margin-left: .5rem;
    text-transform: uppercase;
    &:hover {
        color: saturate($brand-danger,20%);
    }
}

.the-excerpt {
  font-size: 20px;
  float: none;
  width: 70%;
  text-align: center;
  margin: 0 auto 1em auto;
}

