body.home {
    /* Featured Park Section*/
    .featured-park {
      .content-holder {
         margin: 3em 0 1em;
        .section-title-arrow {
          float: left;
          margin-bottom: 1em;
          width: 100%;
          a {
            float: left;
            &:hover {
              text-decoration: none;
            }
            hgroup {
              float: left;
              > h4 {
                float: left;
                margin: 0;
              }
              > h5 {
                clear: left;
                float: left;
                margin-top: 0;
              }
            }

            span.glyphicon.glyphicon-menu-right {
              font-size: 45px;
              float: left;
              top: 5px;
            }

          }
        }
      }

    }


  .featured-news-events {
      h4 {
          font-weight: bold;
          margin: 1em 0 1.5em;
      }
      h5 {
        color: $brand-success;
        margin: 0 0 1rem;
      }
      span.entry-date {
        margin-bottom: 5px;
        display: block;
      }
      .latest-news {
          margin-bottom: 1.5em;
          .img-responsive {
            margin-bottom: 1.2em;
            width: 100%;
          }
      }
      .upcoming-event {
        margin-bottom: 2.5em;
      }
  }


}
