body.home {
  header.banner {
    padding-top: 2em;
    padding-bottom: 2em;
  }
    /* Featured Park Section*/
    .featured-park {
      .content-holder {
         margin: 1em 0 1em;
        .section-title-arrow {
          float: left;
          margin-bottom: 1em;
          width: 100%;
          a {
            float: left;
            &:hover {
              text-decoration: none !important;
            }
            hgroup {
              float: left;
              > h4 {
                float: left;
                margin: 0 0 10px;
              }
              > h5 {
                clear: left;
                float: left;
                margin-top: 0;
              }
            }


            span.glyphicon.glyphicon-menu-right {
              float: left;
              margin-left: 10px;
            }
          }
          .park-info-holder {
            .park-info {
              clear: left;
              float: left;
              width: 100%;
              i.fa {
                float: left;
                margin: 3px 10px 0 0;
              }
            }
          }
        }
      }

    }


  .featured-news-events {
      h4 {
          font-weight: bold;
          margin: 1em 0 1.5em;
      }
      h5 {
        color: $brand-success;
        margin: 0 0 1rem;
      }
      span.entry-date {
        margin-bottom: 5px;
        display: block;
      }
      .latest-news {
          margin-bottom: 1.5em;
          .img-responsive {
            margin-bottom: 1.2em;
            width: 100%;
          }
      }
      .upcoming-event {
        margin-bottom: 2.5em;
      }
  }


}
